In [1]:
import refinitiv.dataplatform as rdp
import pandas as pd

rdp.open_desktop_session('Your API Key here')

In [2]:
pd.set_option('display.max_colwidth', 140)
rdp.__version__

'1.0.0a7.post1'

### Query
The most basic search that can be performed is the query.  The query is a free-formed text expression, similar to the type of query you can perform within Google, matching against documents within the specified view.

In [4]:
# The default syntax for search is to specify a query expression.  By default, search will return a default set of 
# fields (Properties).
rdp.search('IBM')

,PI,BusinessEntity,PermID,DocumentTitle,RIC
0,37036,ORGANISATION,<NA>,"International Business Machines Corp, Public Company",<NA>
1,1097326,QUOTExEQUITY,55839165994,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",IBM
2,99244,ORGANISATION,<NA>,"IBM Credit LLC, Private Company",<NA>
3,4297694029,ORGS,<NA>,"IBM Retirement Fund Trust, Private Company",<NA>
4,18062670,ORGANISATION,<NA>,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>
5,27968389,ORGANISATION,<NA>,"SG Stuttgart Vaihingen BM-Campus 1 UG haftungsbeschraenkt, Private Company",<NA>
6,48924732,QUOTExEQUITY,21481052421,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",0#IBMF:
7,259118763,QUOTExEQUITY,21612423771,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",0#IBMDF:
8,49450681,QUOTExEQUITY,21481052892,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",IBMFc1
9,50092347,QUOTExEQUITY,21481053949,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",IBMFc2

In [5]:
# By default, 10 documents will be returned.  Let's override that.
rdp.search(
    query = 'IBM',
    top = 20
)

,PI,BusinessEntity,PermID,DocumentTitle,RIC
0,37036,ORGANISATION,<NA>,"International Business Machines Corp, Public Company",<NA>
1,1097326,QUOTExEQUITY,55839165994,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",IBM
2,99244,ORGANISATION,<NA>,"IBM Credit LLC, Private Company",<NA>
3,4297694029,ORGS,<NA>,"IBM Retirement Fund Trust, Private Company",<NA>
4,18062670,ORGANISATION,<NA>,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>
5,27968389,ORGANISATION,<NA>,"SG Stuttgart Vaihingen BM-Campus 1 UG haftungsbeschraenkt, Private Company",<NA>
6,48924732,QUOTExEQUITY,21481052421,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",0#IBMF:
7,259118763,QUOTExEQUITY,21612423771,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",0#IBMDF:
8,49450681,QUOTExEQUITY,21481052892,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",IBMFc1
9,50092347,QUOTExEQUITY,21481053949,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",IBMFc2
10,260213021,QUOTExEQUITY,21613372305,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 1, Equity Future, USD, Euronext Amsterdam",IBMDFc1
11,50092348,QUOTExEQUITY,21481053950,"Eurex International Business Machines Equity Future Continuation 3, Equity Future, USD, Eurex",IBMFc3
12,50092349,QUOTExEQUITY,21481053951,"Eurex International Business Machines Equity Future Continuation 4, Equity Future, USD, Eurex",IBMFc4
13,260213022,QUOTExEQUITY,21613372306,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 2, Equity Future, USD, Euronext Amsterdam",IBMDFc2
14,50092350,QUOTExEQUITY,21481053952,"Eurex International Business Machines Equity Future Continuation 5, Equity Future, USD, Eurex",IBMFc5
15,50092351,QUOTExEQUITY,21481053953,"Eurex International Business Machines Equity Future Continuation 6, Equity Future, USD, Eurex",IBMFc6
16,260213023,QUOTExEQUITY,21613372307,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 3, Equity Future, USD, Euronext Amsterdam",IBMDFc3
17,50092352,QUOTExEQUITY,21481053954,"Eurex International Business Machines Equity Future Continuation 7, Equity Future, USD, Eurex",IBMFc7
18,50092353,QUOTExEQUITY,21481053955,"Eurex International Business Machines Equity Future Continuation 8, Equity Future, USD, Eurex",IBMFc8
19,260213024,QUOTExEQUITY,21613372308,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 4, Equity Future, USD, Euronext Amsterdam",IBMDFc4

If we were to type in the following expression, we might come away believing the query will list all personnel within IBM that have a title
of CEO.  While, the results will indicate people related to IBM and people with a title of CEO, we cannot assume they are both.  That is, 
we will see results with the term IBM and CEO listed in the document.

In [6]:
  # Match all documents where the term IBM and CEO appear in any order
rdp.search('IBM CEO')

,DocumentTitle,BusinessEntity,PI,PermID
0,"Arvind Krishna - International Business Machines Corp - Chief Executive Officer, Director",PERSON,34417810693,34417810693
1,"Rudy S. Karsan - Kenexa Corp - Chairman of the Board, Chief Executive Officer",PERSON,34413248256,34413248256
2,"Mohammed Farooq - Gravitant Inc - Chairman of the Board, Chief Executive Officer, Co-Founder",PERSON,34415058863,34415058863
3,"Deidre Paknad - Pss Systems Inc - President, CEO, Board Member",PERSON,34414057544,34414057544
4,Ron S Dembo - Algorithmics Inc - President & CEO,PERSON,34414091235,34414091235
5,Frank Chisholm - Aptsoft Corp - CEO & Founder,PERSON,34414058841,34414058841
6,Michael Knagenhjelm - Metamerge As(Ibm Corp) - Chief Executive Officer,PERSON,34414139687,34414139687
7,Bruce Miller - Tarian Software(Ibm) - Chief Executive Officer,PERSON,34414399995,34414399995

What might give a more favorable result would be to query all documents related to people that contain the term '*IBM*'. From the result, I can visually see
titles and optionally filter out people that are not CEO's.  I can do this by selecting the '**People**' view.
In addition, I'm going to choose specific *child* elements of the **DocumentTitle** field.  As we see in our output from the above requests, the 
'**DocumentTitle**' is selected by default.  This property is a convenient collection of elements that nicely describes the document returned and is
made up of multiple sub-properties such as: '**DTSubjectName**', '**DTSimpleType**', '**DTSource**', and '**DTCharacteristics**'. 

By doing this, I can now see a nice
break-down of the titles (DTCharacteristics), name (DTSubjectName) and company (DTSimpleType).

In [7]:
rdp.search(
    view = rdp.SearchViews.People,
    query = 'IBM',
    select = 'DocumentTitle, DTSubjectName, DTSimpleType, DTSource, DTCharacteristics'
)

,DocumentTitle,DTSubjectName,DTCharacteristics,DTSimpleType
0,Ginni M. Rometty - International Business Machines Corp - Executive Chairman of the Board,Ginni M. Rometty,Executive Chairman of the Board,International Business Machines Corp
1,Jim M. Whitehurst - International Business Machines Corp - President,Jim M. Whitehurst,President,International Business Machines Corp
2,"Arvind Krishna - International Business Machines Corp - Chief Executive Officer, Director",Arvind Krishna,"Chief Executive Officer, Director",International Business Machines Corp
3,"James J. Kavanaugh - International Business Machines Corp - Senior Vice President, Chief Financial Officer, Finance and operation",James J. Kavanaugh,"Senior Vice President, Chief Financial Officer, Finance and operation",International Business Machines Corp
4,"Diane J. Gherson - International Business Machines Corp - Chief Human Resource Officer, Senior Vice President",Diane J. Gherson,"Chief Human Resource Officer, Senior Vice President",International Business Machines Corp
5,John E. Kelly - International Business Machines Corp - Executive Vice President,John E. Kelly,Executive Vice President,International Business Machines Corp
6,Kenneth M. Keverian - International Business Machines Corp - Senior Vice President - Corporate Strategy,Kenneth M. Keverian,Senior Vice President - Corporate Strategy,International Business Machines Corp
7,Michelle H. Browdy - International Business Machines Corp - Senior Vice President - Legal and Regulatory Affairs and General Counsel,Michelle H. Browdy,Senior Vice President - Legal and Regulatory Affairs and General Counsel,International Business Machines Corp
8,"Robert F. Del Bene - International Business Machines Corp - Vice President, Controller",Robert F. Del Bene,"Vice President, Controller",International Business Machines Corp
9,Mike L. Eskew - International Business Machines Corp - Lead Independent Director,Mike L. Eskew,Lead Independent Director,International Business Machines Corp

In [8]:
# Search for a specific ISIN using query
rdp.search('US046353AQ14')

,PI,BusinessEntity,PermID,DocumentTitle,RIC
0,0x00102cb50fde0d55,INSTRUMENTxFIXEDINCOMExGOVCORP,46645702869,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",046353AQ1=
1,0x00102c9a7ade0d0f,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS L2",046353AQ1=2M
2,0x00102cbda5b71586,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, CREDIT SUISSE TRADEWEB PRICE",US046353AQ14=CSTW
3,0x00102ce0bcbf19c6,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS COMPOSITE PLUS",US046353AQ14=MKCP
4,0x00102c435ce30dcd,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TDS TRADEWEB PRICE",US046353AQ14=TDTW
5,0x00102c4f5ce30dc1,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TRADEWEB",US046353AQ14=TE
6,0x00102c1968121c43,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TRADEWEB",046353AQ1=TWEB
7,0x00102cadc88d0eda,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, GFI GROUP",US046353AQ14=GFGL
8,0x00102cc599441a3e,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS AXESSALL",US046353AQ14=MKAX
9,0x00102c60801b1bdc,QUOTExFIXEDINCOMExGOVCORP,<NA>,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TWEB EUCR MARKS",US046353AQ14=TEMK

In [9]:
# Narrow the search to only instruments
rdp.search(
    view = rdp.SearchViews.Instruments,
    query = 'US046353AQ14'
)

,PI,BusinessEntity,PermID,DocumentTitle,RIC
0,0x00102cb50fde0d55,INSTRUMENTxFIXEDINCOMExGOVCORP,46645702869,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",046353AQ1=

#### Query Syntax
A query phrase can support some basic syntax including wildcards, boolean expressions and exact phrase matching.

In [10]:
# Use a specifc term in quotes and the boolean operator to locate specific tankers - use the Content layer 
# to print additional details.
response = rdp.Search.search("'Caribbean Tanker' and Baltic")
print(f'Matched a total of {response.data.total} documents')
response.data.df

Matched a total of 17 documents

,PI,BusinessEntity,PermID,DocumentTitle,RIC
0,621981,QUOTExCOMMODITY,<NA>,"BALTIC DIRTY TANKER TD9 70,000mt, Caribbean to US Gulf, Commodity Index, The Baltic Exchange",.BACG
1,175653765,QUOTExCOMMODITY,21717867959,"Baltic Exchange Dirty Tanker TD21 Caribbean to US Gulf (50,000mt fuel oil), Commodity Spot, The Baltic Exchange",.BACR
2,48950908,QUOTExCOMMODITY,21717782063,"Baltic Exchange Dirty Tanker TD9 TCEï¿½Caribbean to US Gulf Time Charter, Commodity Spot, The Baltic Exchange",.BAAFRTD9
3,325658314,QUOTExCOMMODITY,21717782060,"Baltic Exchange Dirty Tanker TD21 TCE Caribbean to US Gulf (50,000mt fuel oil) Time Charter, Commodity Spot, The Baltic Exchange",.BAAFRTD21
4,77309628067,PHYSICALASSETxVESSEL,77309628067,"ELKA ELEFSIS, Gasoline; Medium, EUROPEAN PRODUCT CARRIERS, Caribbean Sea|Caribbean Tanker Zone",C}KM7309628067
5,77309494578,PHYSICALASSETxVESSEL,77309494578,"MINERVA JULIE, Medium, MINERVA MARINE INC, Baltic Sea|UK Continent Tanker Zone|Skaw Waypoint",C}KM7309494578
6,77309505681,PHYSICALASSETxVESSEL,77309505681,"ANDIAMO, Gasoline; Medium, PRIME TANKER MANAGEMENT INC, Baltic Sea|Baltic Tanker Zone|Latvia",C}KM7309505681
7,77309873409,PHYSICALASSETxVESSEL,77309873409,"STAVANGER POSEIDON, Medium, Caribbean Sea|Caribbean Tanker Zone|Puerto Rico",C}KM7309873409
8,77309493434,PHYSICALASSETxVESSEL,77309493434,"KALINKA, Gasoil / Heating Oil; Medium, SPRING MARINE MANAGEMENT SA, Caribbean Sea|Caribbean Tanker Zone",C}KM7309493434
9,77309495550,PHYSICALASSETxVESSEL,77309495550,"CARONI PLAIN, Medium, METHANOL HOLDINGS, West Atlantic Ocean (Americas)",C}KM7309495550

In [11]:
# Use a wildcard (*) to search for references to 'Covid*'.
response = rdp.Search.search(
    query = "Covid*",
    select = "DTSubjectName, DTSimpleType, DTSource, DTCharacteristics"
)
print(f'Matched a total of {response.data.total} documents')
response.data.df

Matched a total of 7089 documents

,DTCharacteristics,DTSource,DTSubjectName,DTSimpleType
0,<NA>,<NA>,Covidh Technologies Ltd,Public Company
1,<NA>,<NA>,Covidien Ventures,Private Company
2,Daily,Reuters,"Coronavirus (COVID-19), Total cases, Volume",Reuters Polls
3,Daily,Reuters,"Coronavirus (COVID-19), Total cases, Volume",Reuters Polls
4,Daily,Reuters,"Coronavirus (COVID-19), Total cases, Volume",Reuters Polls
5,Daily,Reuters,"Coronavirus (COVID-19), Total cases, Volume",Reuters Polls
6,Daily,Reuters,"Middle East and North Africa, Coronavirus (COVID-19), Total cases, Volume",Reuters Polls
7,Daily,Reuters,"Coronavirus (COVID-19), Total cases, Volume",Reuters Polls
8,Daily,Reuters,"Coronavirus (COVID-19), New cases, Volume",Reuters Polls
9,Daily,Reuters,"Coronavirus (COVID-19), Active cases, Volume",Reuters Polls