## Query
The most basic search that can be performed is the query.  The query is a free-formed text expression, similar to the type of query you can perform within Google, matching against documents within the specified view.

In [2]:
import refinitiv.dataplatform as rdp
import pandas as pd

rdp.open_desktop_session('Your API Key here')

In [3]:
pd.set_option('display.max_colwidth', 140)
rdp.__version__

'1.0.0a7.post1'

#### Query - Default behavior

In [4]:
# The default syntax for search is to specify a query expression.  By default, search will return a default set of 
# fields (Properties).
rdp.search('IBM')

,BusinessEntity,RIC,PI,DocumentTitle,PermID
0,ORGANISATION,<NA>,37036,"International Business Machines Corp, Public Company",<NA>
1,QUOTExEQUITY,IBM,1097326,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994
2,ORGANISATION,<NA>,99244,"IBM Credit LLC, Private Company",<NA>
3,ORGS,<NA>,4297694029,"IBM Retirement Fund Trust, Private Company",<NA>
4,ORGANISATION,<NA>,18062670,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>
5,ORGANISATION,<NA>,27968389,"SG Stuttgart Vaihingen BM-Campus 1 UG haftungsbeschraenkt, Private Company",<NA>
6,QUOTExEQUITY,0#IBMF:,48924732,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421
7,QUOTExEQUITY,0#IBMDF:,259118763,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",21612423771
8,QUOTExEQUITY,IBMFc1,49450681,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",21481052892
9,QUOTExEQUITY,IBMFc2,50092347,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",21481053949

In [5]:
# By default, 10 documents will be returned.  Let's override that.
rdp.search(
    query = 'IBM',
    top = 20
)

,BusinessEntity,RIC,PI,DocumentTitle,PermID
0,ORGANISATION,<NA>,37036,"International Business Machines Corp, Public Company",<NA>
1,QUOTExEQUITY,IBM,1097326,"International Business Machines Corp, Ordinary Share, NYSE Consolidated",55839165994
2,ORGANISATION,<NA>,99244,"IBM Credit LLC, Private Company",<NA>
3,ORGS,<NA>,4297694029,"IBM Retirement Fund Trust, Private Company",<NA>
4,ORGANISATION,<NA>,18062670,"Tiers Corporate Bond Backed Certificates Trust Series Ibm 1997 4, Private Company",<NA>
5,ORGANISATION,<NA>,27968389,"SG Stuttgart Vaihingen BM-Campus 1 UG haftungsbeschraenkt, Private Company",<NA>
6,QUOTExEQUITY,0#IBMF:,48924732,"Eurex International Business Machines Equity Future Chain Contract , Equity Future, USD, Eurex",21481052421
7,QUOTExEQUITY,0#IBMDF:,259118763,"Euronext Amsterdam IBM Dividend Future Chain Contracts, Equity Future, USD, Euronext Amsterdam",21612423771
8,QUOTExEQUITY,IBMFc1,49450681,"Eurex International Business Machines Equity Future Continuation 1, Equity Future, USD, Eurex",21481052892
9,QUOTExEQUITY,IBMFc2,50092347,"Eurex International Business Machines Equity Future Continuation 2, Equity Future, USD, Eurex",21481053949
10,QUOTExEQUITY,IBMDFc1,260213021,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 1, Equity Future, USD, Euronext Amsterdam",21613372305
11,QUOTExEQUITY,IBMFc3,50092348,"Eurex International Business Machines Equity Future Continuation 3, Equity Future, USD, Eurex",21481053950
12,QUOTExEQUITY,IBMFc4,50092349,"Eurex International Business Machines Equity Future Continuation 4, Equity Future, USD, Eurex",21481053951
13,QUOTExEQUITY,IBMDFc2,260213022,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 2, Equity Future, USD, Euronext Amsterdam",21613372306
14,QUOTExEQUITY,IBMFc5,50092350,"Eurex International Business Machines Equity Future Continuation 5, Equity Future, USD, Eurex",21481053952
15,QUOTExEQUITY,IBMFc6,50092351,"Eurex International Business Machines Equity Future Continuation 6, Equity Future, USD, Eurex",21481053953
16,QUOTExEQUITY,IBMDFc3,260213023,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 3, Equity Future, USD, Euronext Amsterdam",21613372307
17,QUOTExEQUITY,IBMFc7,50092352,"Eurex International Business Machines Equity Future Continuation 7, Equity Future, USD, Eurex",21481053954
18,QUOTExEQUITY,IBMFc8,50092353,"Eurex International Business Machines Equity Future Continuation 8, Equity Future, USD, Eurex",21481053955
19,QUOTExEQUITY,IBMDFc4,260213024,"Euronext Amsterdam IBM Single Stock Dividend Future Continuation 4, Equity Future, USD, Euronext Amsterdam",21613372308

#### Query Expressions
If we were to type in the following expression, we might come away believing the query will list all personnel within IBM that have a title
of CEO.  While, the results will indicate people related to IBM and people with a title of CEO, we cannot assume they are both.  That is, 
we will see results with the term IBM and CEO listed in the document.

In [6]:
# Match all documents where the term IBM and CEO appear in any order
rdp.search('IBM CEO')

,BusinessEntity,PI,DocumentTitle,PermID
0,PERSON,34417810693,"Arvind Krishna - International Business Machines Corp - Chief Executive Officer, Director",34417810693
1,PERSON,34413248256,"Rudy S. Karsan - Kenexa Corp - Chairman of the Board, Chief Executive Officer",34413248256
2,PERSON,34415058863,"Mohammed Farooq - Gravitant Inc - Chairman of the Board, Chief Executive Officer, Co-Founder",34415058863
3,PERSON,34414057544,"Deidre Paknad - Pss Systems Inc - President, CEO, Board Member",34414057544
4,PERSON,34414091235,Ron S Dembo - Algorithmics Inc - President & CEO,34414091235
5,PERSON,34414058841,Frank Chisholm - Aptsoft Corp - CEO & Founder,34414058841
6,PERSON,34414139687,Michael Knagenhjelm - Metamerge As(Ibm Corp) - Chief Executive Officer,34414139687
7,PERSON,34414399995,Bruce Miller - Tarian Software(Ibm) - Chief Executive Officer,34414399995

What might give a more favorable result would be to query all documents related to people that contain the term '*IBM*'. From the result, I can visually see
titles and optionally filter out people that are not CEO's.  I can do this by selecting the '**People**' view.
In addition, I'm going to choose specific *child* elements of the **DocumentTitle** field.  As we see in our output from the above requests, the 
'**DocumentTitle**' is selected by default.  This property is a convenient collection of elements that nicely describes the document returned and is
made up of multiple sub-properties such as: '**DTSubjectName**', '**DTSimpleType**', '**DTSource**', and '**DTCharacteristics**'. 

By doing this, I can now see a nice
break-down of the titles (DTCharacteristics), name (DTSubjectName) and company (DTSimpleType).

In [7]:
rdp.search(
    view = rdp.SearchViews.People,
    query = 'IBM',
    select = 'DocumentTitle, DTSubjectName, DTSimpleType, DTSource, DTCharacteristics'
)

,DTSimpleType,DTCharacteristics,DocumentTitle,DTSubjectName
0,International Business Machines Corp,Executive Chairman of the Board,Ginni M. Rometty - International Business Machines Corp - Executive Chairman of the Board,Ginni M. Rometty
1,International Business Machines Corp,President,Jim M. Whitehurst - International Business Machines Corp - President,Jim M. Whitehurst
2,International Business Machines Corp,"Chief Executive Officer, Director","Arvind Krishna - International Business Machines Corp - Chief Executive Officer, Director",Arvind Krishna
3,International Business Machines Corp,"Senior Vice President, Chief Financial Officer, Finance and operation","James J. Kavanaugh - International Business Machines Corp - Senior Vice President, Chief Financial Officer, Finance and operation",James J. Kavanaugh
4,International Business Machines Corp,"Chief Human Resource Officer, Senior Vice President","Diane J. Gherson - International Business Machines Corp - Chief Human Resource Officer, Senior Vice President",Diane J. Gherson
5,International Business Machines Corp,Executive Vice President,John E. Kelly - International Business Machines Corp - Executive Vice President,John E. Kelly
6,International Business Machines Corp,Senior Vice President - Corporate Strategy,Kenneth M. Keverian - International Business Machines Corp - Senior Vice President - Corporate Strategy,Kenneth M. Keverian
7,International Business Machines Corp,Senior Vice President - Legal and Regulatory Affairs and General Counsel,Michelle H. Browdy - International Business Machines Corp - Senior Vice President - Legal and Regulatory Affairs and General Counsel,Michelle H. Browdy
8,International Business Machines Corp,"Vice President, Controller","Robert F. Del Bene - International Business Machines Corp - Vice President, Controller",Robert F. Del Bene
9,International Business Machines Corp,Lead Independent Director,Mike L. Eskew - International Business Machines Corp - Lead Independent Director,Mike L. Eskew

In [8]:
# Search for a specific ISIN using query
rdp.search('US046353AQ14')

,BusinessEntity,RIC,PI,DocumentTitle,PermID
0,INSTRUMENTxFIXEDINCOMExGOVCORP,046353AQ1=,0x00102cb50fde0d55,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869
1,QUOTExFIXEDINCOMExGOVCORP,046353AQ1=2M,0x00102c9a7ade0d0f,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS L2",<NA>
2,QUOTExFIXEDINCOMExGOVCORP,US046353AQ14=CSTW,0x00102cbda5b71586,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, CREDIT SUISSE TRADEWEB PRICE",<NA>
3,QUOTExFIXEDINCOMExGOVCORP,US046353AQ14=MKCP,0x00102ce0bcbf19c6,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS COMPOSITE PLUS",<NA>
4,QUOTExFIXEDINCOMExGOVCORP,US046353AQ14=TDTW,0x00102c435ce30dcd,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TDS TRADEWEB PRICE",<NA>
5,QUOTExFIXEDINCOMExGOVCORP,US046353AQ14=TE,0x00102c4f5ce30dc1,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TRADEWEB",<NA>
6,QUOTExFIXEDINCOMExGOVCORP,046353AQ1=TWEB,0x00102c1968121c43,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TRADEWEB",<NA>
7,QUOTExFIXEDINCOMExGOVCORP,US046353AQ14=GFGL,0x00102cadc88d0eda,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, GFI GROUP",<NA>
8,QUOTExFIXEDINCOMExGOVCORP,US046353AQ14=MKAX,0x00102cc599441a3e,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, MARKETAXESS AXESSALL",<NA>
9,QUOTExFIXEDINCOMExGOVCORP,US046353AQ14=TEMK,0x00102c60801b1bdc,"AstraZeneca PLC, Bond Quote, TRACE Eligible AZN 2.375 12-Jun-2022, TWEB EUCR MARKS",<NA>

In [9]:
# Narrow the search to only instruments
rdp.search(
    view = rdp.SearchViews.Instruments,
    query = 'US046353AQ14'
)

,BusinessEntity,RIC,PI,DocumentTitle,PermID
0,INSTRUMENTxFIXEDINCOMExGOVCORP,046353AQ1=,0x00102cb50fde0d55,"AstraZeneca PLC, Plain Vanilla Fixed Coupon Bond, TRACE Eligible AZN 2.375 12-Jun-2022",46645702869

#### Query Syntax
A query phrase can support some basic syntax including wildcards, boolean expressions and exact phrase matching.

In [10]:
# Use a specifc term in quotes and the boolean operator to locate specific tankers - use the Content layer 
# to print additional details.
response = rdp.Search.search("'Caribbean Tanker' and Baltic")
print(f'Matched a total of {response.data.total} documents')
response.data.df

Matched a total of 15 documents

,BusinessEntity,RIC,PI,DocumentTitle,PermID
0,QUOTExCOMMODITY,.BACG,621981,"BALTIC DIRTY TANKER TD9 70,000mt, Caribbean to US Gulf, Commodity Index, The Baltic Exchange",<NA>
1,QUOTExCOMMODITY,.BACR,175653765,"Baltic Exchange Dirty Tanker TD21 Caribbean to US Gulf (50,000mt fuel oil), Commodity Spot, The Baltic Exchange",21717867959
2,QUOTExCOMMODITY,.BAAFRTD9,48950908,"Baltic Exchange Dirty Tanker TD9 TCE�Caribbean to US Gulf Time Charter, Commodity Spot, The Baltic Exchange",21717782063
3,QUOTExCOMMODITY,.BAAFRTD21,325658314,"Baltic Exchange Dirty Tanker TD21 TCE Caribbean to US Gulf (50,000mt fuel oil) Time Charter, Commodity Spot, The Baltic Exchange",21717782060
4,PHYSICALASSETxVESSEL,C}KM7309531000,77309531000,"ARDMORE ENDURANCE, Gasoline; Medium, ARDMORE SHIPPING BERMUDA LTD, North Sea|North Sea Tanker Zone|Scotland (South Shetland Ils.) Waypoint",77309531000
5,PHYSICALASSETxVESSEL,C}KM7309878895,77309878895,"LARGO CALIFORNIA, Medium, CENTRAL SHIPPING MONACO SAM, Gulf of Finland|Baltic Tanker Zone|Estonia",77309878895
6,PHYSICALASSETxVESSEL,C}KM7309495550,77309495550,"CARONI PLAIN, Medium, METHANOL HOLDINGS, North Atlantic Ocean",77309495550
7,PHYSICALASSETxVESSEL,C}KN7309511101,77309511101,"BALTIC PROSPERITY, Small, LAVINIA CORP, Caribbean Sea|Caribbean Tanker Zone",77309511101
8,PHYSICALASSETxVESSEL,C}KC7309434563,77309434563,"VASSILIO XVIII, Coastal, SANAHIL IO, West Atlantic Ocean (Americas)|Belem Tanker Zone",77309434563
9,PHYSICALASSETxVESSEL,C}KA7309466817,77309466817,"BALTIC, Aframax / LRII, ALPHA SHIPMANAGEMENT PTE LTD, South Pacific Ocean (NZ)|Melbourne Tanker Zone|Bass Strait Waypoint",77309466817

In [11]:
# Use a wildcard (*) to search for references to 'Covid*'.
response = rdp.Search.search(
    query = "Covid*",
    select = "DTSubjectName, DTSimpleType, DTSource, DTCharacteristics"
)
print(f'Matched a total of {response.data.total} documents')
response.data.df

Matched a total of 7106 documents

,DTSimpleType,DTCharacteristics,DTSubjectName,DTSource
0,Public Company,<NA>,Covidh Technologies Ltd,<NA>
1,Private Company,<NA>,Covidien Ventures,<NA>
2,Reuters Polls,Daily,"Coronavirus (COVID-19), Total cases, Volume",Reuters
3,Reuters Polls,Daily,"Coronavirus (COVID-19), Total cases, Volume",Reuters
4,Reuters Polls,Daily,"Coronavirus (COVID-19), Total cases, Volume",Reuters
5,Reuters Polls,Daily,"Coronavirus (COVID-19), Total cases, Volume",Reuters
6,Reuters Polls,Daily,"Middle East and North Africa, Coronavirus (COVID-19), Total cases, Volume",Reuters
7,Reuters Polls,Daily,"Coronavirus (COVID-19), Total cases, Volume",Reuters
8,Reuters Polls,Daily,"Coronavirus (COVID-19), New cases, Volume",Reuters
9,Reuters Polls,Daily,"Coronavirus (COVID-19), Active cases, Volume",Reuters

In [12]:
# List the Vodafone bonds maturing in 2025 with a coupon rate of 5%
# We can achieve this specific query using a special feature called 'tcm' (ticker coupon maturity).
rdp.search(
    query = "vod 5% 2025",
    features = "tcm",
    select = "CouponCurrency, CouponTypeDescription, IssuerLegalName, CouponRate, MaturityDate, ISIN"
)

,CouponTypeDescription,IssuerLegalName,CouponCurrency,CouponRate,MaturityDate,ISIN
0,Fixed:Plain Vanilla Fixed Coupon,Vodafone Hessen GmbH & Co. KG,USD,5,2025-01-15T00:00:00.000Z,USD85455AD13
1,Fixed:Plain Vanilla Fixed Coupon,Vodafone Hessen GmbH & Co. KG,USD,5,2025-01-15T00:00:00.000Z,US913364AD74